
/* .inner-container {
  position: relative;
} */

.carousel {
  margin-top: 50px;
  margin: 0 auto;
  padding: 40px;
  width: 80%;
  color: #333;
  background: gainsboro;
}

.inner-carousel img {
  margin: 0 auto;
  max-width: 80%;
}

.inner-carousel {
  position: relative;
}

.inner-carousel li {
  max-width: fit-content;
}

.text-blurb {
  max-width: 70%;
  text-align: center;
  margin: 0 auto;
}
