.exercise-log {
  height: fit-content;
}

.exercise-card {
  width: 155px;
  font-size: 1.1em;
  padding: 20px;
  display: inline-block;
  border: 1px dashed lightgray;
  margin: 20px;
  position: relative;
  background-color: lightgray;
}

.exercise-card h3 {
  display: inline-block;
}

.dot-menu {
  text-align: right;
  display: inline-block;
  position: absolute;
  right: -5px;
  top: -5px;
  margin: 0;
  padding: 0;
}
