.exercise-log {
  height: fit-content;
}

.exercise-card {
  width: 175px;
  font-size: 1.1em;
  padding: 20px;
  display: inline-block;
  border: 1px dashed lightgray;
  margin: 20px;
  position: relative;
  background-color: #b7dfdf;
  /* background: linear-gradient(to bottom, #0099ff 0%, #ffffff 100%); */
  border: 3px solid #1a4e95;
  /* border-radius: 10%; */
}

.exercise-card h3 {
  display: inline-block;
}

.dot-menu {
  text-align: right;
  display: inline-block;
  position: absolute;
  right: -5px;
  top: -5px;
  margin: 0;
  padding: 0;
}

.duration {
  background-color: #1a4e95;
  padding: .3em;
  /* border-radius: 4px; */
  color: #fff;
}

.activity-title {
  padding: .6em;
  border: 1px solid gray;
  /* border-radius: 4px; */
  background: white;
  color: #425373;
}

/* .date {
  border: 1px solid black;
  border-radius: 50%;
  background-color: white;
} */
