.exercise-log {
  height: fit-content;
}

.exercise-card {
  background-image: url('./workout-app.png');
  background-position: center;
  background-size: 100.5%;
  background-repeat: no-repeat;
  width: 175px;
  font-size: 1.1em;
  padding: 20px;
  display: inline-block;
  margin: 20px;
  position: relative;
  border: 3px solid #8d8c8c;
}

.exercise-card h3 {
  display: inline-block;
}

.dot-menu {
  text-align: right;
  display: inline-block;
  position: absolute;
  right: -5px;
  top: -5px;
  margin: 0;
  padding: 0;
}

.duration {
  background-color: #8d8c8c;
  padding: .3em;
  color: #fff;
}

.activity-title {
  position: relative;
  top: 70px;
  margin-top: 1em;
  margin-bottom: 1em;
  padding: .6em;
  border: 1px solid gray;
  background: white;
  color: #464545;
}

.date {
  margin-top: 70px;
  margin-bottom: 0;
  color: #464545;
}

@media (max-width: 680px) {
  .exercise-card {
    margin: 10px;
  }
}
