.App-header {
  margin-top: 58px;
  height: 150px;
  padding: 20px;
  background-image: url('./images/metal.jpg');
  text-align: center;
}

.App-header h1 {
  font-family: 'Roboto Condensed', sans-serif;

}

.App-title a {
  color: #dfdfdf;
  /* color: #58cc1c; */
  /* color: #A4FD29; */
  /* color: #0B4A4A; */
  padding: 10px;

}

.App-header strong {
    font-weight: 700;
}

.App-title {
  font-size: 3em;
  display: inline-block;
  vertical-align: middle;
  text-align: center;
  margin-left: 10px;
  font-weight: 400;
}

.header-logo {
  width: 100px;
  display: inline-block;
  z-index: 15;
}

.header-logo img {
  width: 100%;
  vertical-align: middle;

}

@media (max-width: 680px) {
  .App-header {
    display: none;
  }

  main {
    padding-top: 74px;
  }

}
