.carousel-holder {
  margin: 20px;
  cursor: -webkit-grab;
}

/* .carousel-holder img {
  width: 100%;
} */

#blurb {
  font-size: 1.5em;
  text-align: left;
  padding: 16px 0px;
  /* margin: 0 auto; */
}
.carousel .slide {
  background: gainsboro;
}

#blurb ul {
  list-style: none;
}

.inner {
  width: 70%;
  margin: auto;
}

.inner p {
margin: 0;
}


@media (max-width: 680px) {
  .carousel-holder {
    margin: 0px;
    margin-top: 10px;
  }

  .inner {
    width: 90%;
  }

  #blurb {
    font-size: 1em;
  }
}
