.carousel-holder {
  margin: 20px;
  cursor: -webkit-grab;
}

#blurb {
  font-size: 1.5em;
  text-align: left;
  padding: 16px 0px;
}
.carousel .slide {
  background: gainsboro;
}

#blurb ul {
  list-style: none;
}

.inner {
  width: 70%;
  margin: auto;
}

.inner p {
  margin: 0;
}


@media (max-width: 800) {
  #blurb {
    font-size: 1em;
  }
}


@media (min-width: 480px) and (max-width: 680px) {
  .carousel-holder {
    margin: 0px;
    margin-top: 10px;
  }

  .inner {
    width: 90%;
  }

  #blurb {
    font-size: .9em;
  }
}

@media (max-width: 480px) {
  #blurb {
    font-size: .7em;
  }

  .carousel .slide .legend {
    position: absolute;
    bottom: 10px;
  }
}
