.App-footer {
  /* height: 35px; */
  width: 100%;
  padding: 20px;
  background-color: gray;
  position: absolute;
  bottom: 0;
}

.App-footer p {
  text-align: center;
  vertical-align: middle;
}

#github-icon {
  font-size: 1.5em;
}

#github-icon:hover {
  color: orange;
}
