.App-footer {
  width: 100%;
  padding: 20px;
  background-color: lightgray;
  position: absolute;
  bottom: 0;
}

.App-footer p {
  color: #2b2b2b;
  text-align: center;
  vertical-align: middle;
  font-weight: 900;
}

#github-icon {
  font-size: 1.5em;
}

#github-icon:hover {
  color: orange;
}
