.App-nav {
  background-color: lightgray;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
  min-height: 60px;
}

.App-nav ul {
  list-style: none;
  margin: 0px;
  text-align: center;
}

.nav-links {
  display: inline-block;
  padding: 20px;
  color: gray;
  cursor: pointer;
}

.nav-links a {
  color: gray;
}

.nav-links a:hover {
  color: #63b539;
}

.nav-links:hover {
  color: #63b539;
}

#logo {
  vertical-align: middle;
}

#logo img {
  width: 50px;
}

#hamburger {
  position: absolute;
  top: 25px;
  right: 40px;
  display: none;
  cursor: pointer;
  z-index: 12;
  color: #dfdfdf
}

.small-header {
  display: none;
}

.small-header h2, #small-logo {
  display: inline-block;
  vertical-align: middle;
  margin: 10px 4px;
  font-weight: 400;
}

.small-header img {
  width: 50px;
}

.small-header-title strong {
  font-weight: 700;
}

.no-show {
  display: none;
}

.show {
  display: inline-block;
  z-index: 19;
  position: relative;
  bottom: -.5em;
  -webkit-animation: slide-in-nav 1s forwards;
  animation: slide-in-nav 1s forwards;
}

@-webkit-keyframes slide-in-nav {
  100% { bottom: 0 }
}
@keyframes slide-in-nav {
  100% { bottom: 0 }
}

/* Media Queries*/
@media (max-width: 680px) {
  #hamburger {
    display: block;
  }

  .nav-menu {
    text-align: left;
  }

  #logo {
    display: none;
  }

  .small-header {
    font-family: 'Roboto Condensed', sans-serif;
    display: inline-block;
    vertical-align: middle;
    z-index: 12;
  }

  .small-header a {
    color: #dfdfdf;
  }

  .nav-links a, .nav-links {
    color: #58cc1c;
  }

  .App-nav {
    background-image: url('../header/images/metal.jpg');
  }

  .isClosed {
    display: none;
  }

  .isOpen {
    opacity: 1;
    z-index: 11;
  }

  .isOpen li {
    display: block;
  }

}
