.App-nav {
  background-color: lightgray;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
}

ul {
  list-style: none;
  margin: 0px;
  text-align: center;
}

.nav-links {
  display: inline-block;
  padding: 20px;
  color: gray;
  cursor: pointer;
}

.nav-links a {
  color: gray;
}

.nav-links:hover {
  background-color: #72CD44;
  /* color: white; */
}

#logo {
  display: inline-block;
  vertical-align: middle;
}

#logo img {
  width: 50px;
}
