.no-data {
  padding-top: 50px;
  text-align: center;
  height: 700px;
}

.statistics {
  border: 1px solid gray;
  max-width: 300px;
  padding: 12px;
}

.statistics span {
  font-size: 2em;
  font-weight: bold;
}

.doughnut {
  width: 60%;
}

.statistics {
  width: 40%
}

.doughnut, .statistics {
  display: inline-block;
  margin: 0;
  vertical-align: top;
}

.chartjs-render-monitor {
  display: inline-block;
}

.line-wrapper {
  margin-top: 20px;
}

.line {
  margin: 40px auto;
}

/* Media Queries */
@media (max-width: 680px) {
  .doughnut, .statistics {
    display: block;
    width: 90%;
    margin: 30px auto;
  }

  .statistics span {
    font-size: 1.2em;
  }

  .section-title {
    text-align: left;
    padding-left: 5%;
  }
}
