.dashboard img {
  /* width: 500px; */
}

.no-data {
  text-align: center;
}

.statistics {
  border: 1px solid gray;
  max-width: 400px;
  padding: 12px;
}

.statistics span {
  font-size: 2em;
  font-weight: bold;
}



/* .doughnut {
  max-width: 600px;
  width: 100%;
} */

/* .doughnut-wrapper {
  display: inline-block;
  width: 700px;
} */

.doughnut, .statistics {
  display: inline-block;
  width: 50%;
  margin: 0;
  vertical-align: top;
}

.chartjs-render-monitor {
  display: inline-block;
}

.line {
  margin: 40px auto;
}
