nav {
  background-color: #00f;
  overflow: hidden;
  padding: 1em;
  border-bottom: 1px solid #000;
}
nav a {
  color: #fff;
}
nav a:visited {
  color: #fff;
}
nav .navWide {
  display: none;
  margin: 0 auto;
}
nav .navWide .wideDiv {
  text-align: center;
}
nav .navWide .wideDiv a {
  text-decoration: none;
  display: inline-block;
  padding: 0 2em;
}
nav .navNarrow i {
  float: right;
  cursor: pointer;
  color: #fff;
}

.narrowLinks {
  display: none;
}
nav .navNarrow {
  display: none;
}
nav .navNarrow .narrowLinks a {
  text-decoration: none;
  display: block;
  float: right;
  clear: right;
  padding: 0.5em 0;
}

@media (min-width: 480px) {
  nav .navWide {
    display: block;
  }
  nav .navNarrow {
    display: none;
  }
}
